@import '_colors';
@import 'mixins';

/* some variables because I'm too lazy to make another import file */
$upper: uppercase; 


/********************************************
			MOBILE FIRST LAYOUT				
********************************************/

/*base styles */

*, *:after, *:before {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0 auto;
	color: $body_text;
	text-align: center;
}

h1 {
	color: $headers;
	font-weight: 400;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	line-height: 1.15em;
}


h2, h3 {
	text-transform: $upper;
	font-size: 1em;
	font-weight: 400;
}

footer {
	background-color: $contrast_dark;
	padding: 0.5em 3em;
	margin: 0 0.5em;

	a {
		color: #fff;
	}
}

/* top navigation styles */

header:first-child {margin-top: 1em;}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.top_nav {
	text-align: left;

	a {
		text-decoration: none; 
		color: $body_text;
	}

	a:hover {color: $contrast_dark;}

	span {
		text-transform: $upper;
		color: $logo_text;
	}

	li {
		display: inline;
		margin: 0 1.7% 0 5%;
	}
}

/* hero section styles */

.hero {
	background: url('../img/tree.jpg');
	padding: 4em 0;
	margin: 0.5em;

	h1 {
		margin: 0;
	}

}

/* pricing section styles */

.pricing {
	margin: 2.625em 1em;

	header {
		color: $headers;
		padding: 2.15em 0;
		margin: 0;

	}
}

.plans {
	border: 1px solid $borders;
	margin-bottom: 1.875em;

	h2 {
		letter-spacing: 0.25em;
		margin: 0;
	}

	h3 {
		font-size: 1.25em;
		opacity: 0.5;
		margin: 0;
	}

	li {
		background-color: $pricing_bg;
		padding: 0.85em 0;
		border-bottom: 1px solid $borders;
		font-size: 0.95em;
	}

	footer {
		padding: 1.5em;
		background-color: #fff;
		margin: 0;
	}
}

.personal > header {
	background-color: $personal;
}

.small_business > header {
	background-color: $small_business;
}

.enterprise > header {
	background-color: $enterprise;
}

.huge {
	font-size: 6em;
	font-weight: 200;
	margin: 0;
}

button {
	color: $contrast_dark;
	background-color: #fff;
	font-weight: 700;
	padding: 0.5em 1em;
	border: 1px solid $borders;
	border-radius: 50px;
}

/* details section styles */

.details {
	margin-top: 7em;
}

.detail_block {

	margin: 2.5em;
	text-align: left;

	h2 {
		color: $contrast_dark;
		font-weight: 400;
		font-size: 1.15em;
		letter-spacing: 0.25em;
	}

	p {
		line-height: 1.6em;
	}
}

/* footer styles */

footer p {
	line-height: 1.6em;
}

/********************************************
			  FIRST BREAKPOINT				
********************************************/

@media all and (min-width: 479px) {

	.hero {
		padding: 9em 0;

		h1 {
			font-size: 3em;
		}
	}

}


/********************************************
			  SECOND BREAKPOINT				
********************************************/

@media all and (min-width: 768px) and (max-width: 978px) {
	
	/* grid system styles for pricing and details sections */

	
	[class*='col-'] {
  		float: left;
	}

	.col-3 {
		width: 32%;
		margin-right: 2%;
	}

	.col-3:last-child {margin-right: 0}

	.detail_block {margin: 2em 0;}

	.col-4 {
		float: left;
		width: 40%;
		margin: 0 5%;
	}

	.details, .credit {
		clear: both;
	}

}